<div>
    <div class="main-content">
        <div class="orange-box">
            <div class="main-title">
                ZEAL FILM
            </div>
            <div class="side-title orange">
                <div class="funny-font"> 
                    at your service
                </div>
            </div>
        </div>
        <div class="square-font">
            to present your business
        </div>
        <div class="play-btn-container">
            <button class="play-button" (click)="onShowVideo()"></button>
        </div>
    </div>
    <div class="side-content">
        <div class="orange contact-info">
            <ul>
                <li>Medappa Chreanda</li>
                <li>at Square Haus</li>
                <li>Bülowstr. 6</li>
                <li>10783 Berlin</li>
                <li><a href="mailto:office@zeal-film.de">office@zeal-film.de</a></li>
                <li><a href="tel:+4901797481018">+49 (0) 0179 748 10 18</a></li>
            </ul>
        </div>
    </div>
</div>
